{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "unicorn",
    "promise"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:unicorn/recommended",
    "plugin:promise/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "unicorn/no-reduce": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/no-null": "off",
    "promise/always-return": "off",
    "promise/no-nesting": "off"
  }
}
